*out
.coverage*
.ipynb_checkpoints/
.snakemake/
*output/
samples/
logs/*
EUKulele/tests/aux_data
tax-table.txt
*/tax-table.txt/*
protein-map.json
*/protein-map.json/*
*__pycache__*
references_bins/
*diamond*
