numpy
biopython
#conda
pandas
seaborn
chardet
argparse
multiprocess
#subprocess
#shutil
#glob
joblib
ujson
python-coveralls
pyyaml
matplotlib
pytest-cov
pytest-xdist
sphinxcontrib-bibtex==1.0.0
#zenodo_get
#pkgutil
